Cv_screening_engine/Applicant Screening Engine - CV + GitHub_Signal_Scoring.json
{
  "name": "Applicant Screening Engine - CV + GitHub_Signal_Scoring",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "f67f04b2-9b0e-4bed-b359-aa92689156e0",
      "name": "New Application Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1536,
        208
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "OFz5cdXaB6JhKH7B",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.attachments?.length || 0}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "1dcd4502-1245-4579-994a-61ab3575aaee"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0d79d64a-7d8b-4807-ae6d-036b9aa861e2",
      "name": "Has CV Attachment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1328,
        208
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "id": "191e5a7e-3535-4d07-9974-33beaadef211",
      "name": "Extract CV Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1104,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Extract structured candidate data from this CV text. Return strict JSON with keys: name, email, phone, yearsExperience (number), skills (array of strings), education (string), githubUrl (string or null), linkedinUrl (string or null), summary (one sentence).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{$json.text}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "3bc1191d-5a4c-42ca-bc0b-762eab7b8a63",
      "name": "AI Extract CV Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "QNOIcLMW7cMGjMl5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  let parsed = {};\n  try {\n    parsed = JSON.parse(item.json.choices[0].message.content);\n  } catch (e) {\n    parsed = { name: 'unknown', skills: [], yearsExperience: 0 };\n  }\n  return { json: parsed };\n});"
      },
      "id": "89c435a5-4679-4999-b5f1-a72876afc06d",
      "name": "Parse Extracted Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{$json.githubUrl}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "60856e02-3b44-4483-8811-9e0ed7ef36d0",
      "name": "Has GitHub URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const url = $json.githubUrl || '';\nconst match = url.match(/github\\.com\\/([A-Za-z0-9-]+)/);\nreturn [{ json: { ...$json, githubUsername: match ? match[1] : null } }];"
      },
      "id": "5fe139e2-c4e7-472f-b92e-0d29086ce800",
      "name": "Extract GitHub Username",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        64
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$json.githubUsername}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "ae764334-0deb-4890-9947-465a3f6315f2",
      "name": "Get GitHub Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "gJWrnfkmCGVq4AJT",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$('Extract GitHub Username').item.json.githubUsername}}/repos?sort=updated&per_page=10",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "3ca35ed1-636b-4c70-b57e-9925cce95b11",
      "name": "Get GitHub Repos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        128
      ],
      "credentials": {
        "githubApi": {
          "id": "gJWrnfkmCGVq4AJT",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const profile = $('Get GitHub Profile').item.json;\nconst repos = $('Get GitHub Repos').all().map(i => i.json);\nconst candidate = $('Extract GitHub Username').item.json;\n\nconst repoCount = profile.public_repos || 0;\nconst followers = profile.followers || 0;\nconst recentlyActive = repos.some(r => {\n  const updated = new Date(r.updated_at);\n  const monthsAgo = (Date.now() - updated.getTime()) / (1000*60*60*24*30);\n  return monthsAgo < 6;\n});\nconst languages = [...new Set(repos.map(r => r.language).filter(Boolean))];\nconst hasReadmePresence = repos.some(r => r.description && r.description.length > 10);\n\nlet githubScore = 0;\nif (repoCount >= 5) githubScore += 1;\nif (recentlyActive) githubScore += 1;\nif (languages.length >= 2) githubScore += 1;\nif (followers >= 5) githubScore += 1;\nif (hasReadmePresence) githubScore += 1;\n\nreturn [{ json: { ...candidate, githubScore, githubRepoCount: repoCount, githubLanguages: languages, githubRecentlyActive: recentlyActive } }];"
      },
      "id": "19bef102-57ff-4afa-8b8a-ad2f3dfde9b3",
      "name": "Compute GitHub Signal Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, githubScore: 0, githubRepoCount: 0, githubLanguages: [], githubRecentlyActive: false } }];"
      },
      "id": "688a7e44-e6f9-45e4-b2e7-d9d421feaaee",
      "name": "No GitHub - Default Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You score job candidates 0-10 for fit against this role: Backend Engineer, 3+ years, Node.js/Python, cloud infra experience preferred. Score components: skills match to role (0-4), years of relevant experience (0-3), GitHub signal already provided (0-3, use the githubScore value directly scaled, e.g. githubScore of 5 = 3 points). Return strict JSON: {\\\"score\\\": <0-10 integer>, \\\"reasoning\\\": \\\"<one sentence explaining the score, mention specific skills or gaps>\\\"}. Be explicit this is a screening aid, not a final decision.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"=Name: {{$json.name}}\\nSkills: {{$json.skills}}\\nYears Experience: {{$json.yearsExperience}}\\nEducation: {{$json.education}}\\nGitHub Score: {{$json.githubScore}}\\nGitHub Languages: {{$json.githubLanguages}}\\nSummary: {{$json.summary}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "5784b045-aea2-4f76-8cbc-29548fb9ab64",
      "name": "AI Score Candidate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "QNOIcLMW7cMGjMl5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  let parsed = { score: 0, reasoning: 'parse error' };\n  try {\n    parsed = JSON.parse(item.json.choices[0].message.content);\n  } catch (e) {}\n  return { json: { ...item.json, finalScore: parsed.score, scoreReasoning: parsed.reasoning } };\n});"
      },
      "id": "2206d365-30fe-47e6-8f6d-1d139581e06a",
      "name": "Parse Final Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4e026d78-0359-4d8f-b437-1888dc0d7534",
      "name": "Format Candidate Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11HQuxD7mbpVTbV0Vkoa4Mlz3lVoCdG9eY78zQKJb-WM",
          "mode": "list",
          "cachedResultName": "feedback n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11HQuxD7mbpVTbV0Vkoa4Mlz3lVoCdG9eY78zQKJb-WM/edit?usp=drivesdk"
        },
        "sheetName": {
          "value": "All Candidates"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "341aff56-21b7-4879-82d5-2b5aa5d9b8e6",
      "name": "Append to All Candidates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1104,
        160
      ],
      "credentials": {
        "googleApi": {
          "id": "FxyM9wDdowuRmuq0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "082b51e5-78c4-4c45-aa2d-7819455de024",
      "name": "Daily Shortlist Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1328,
        1504
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SHEET_ID"
        },
        "sheetName": {
          "value": "All Candidates"
        },
        "options": {}
      },
      "id": "aca7a0af-a72d-4897-98b6-fa131c1b2438",
      "name": "Read All Candidates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1120,
        1504
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CfxaDN5zeXKxOD4u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sorted = items\n  .map(i => i.json)\n  .filter(c => c.finalScore !== undefined && c.finalScore !== '')\n  .sort((a, b) => Number(b.finalScore) - Number(a.finalScore));\nconst top20 = sorted.slice(0, 20);\nreturn top20.map(c => ({ json: c }));"
      },
      "id": "1d912500-54b5-48e9-b76d-b536bbb3297b",
      "name": "Rank and Take Top 20",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        1504
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SHEET_ID"
        },
        "sheetName": {
          "value": "Shortlist"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "44672739-f093-4322-8418-6ad4abc727fc",
      "name": "Append to Shortlist Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -672,
        1504
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CfxaDN5zeXKxOD4u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet rows = items.map(i => `<tr><td>${i.json.name}</td><td>${i.json.finalScore}</td><td>${i.json.skills}</td><td>${i.json.yearsExperience}</td><td>${i.json.reasoning}</td><td><a href=\"${i.json.githubUrl||''}\">GitHub</a> / <a href=\"${i.json.linkedinUrl||''}\">LinkedIn</a></td></tr>`).join('');\nconst html = `<p>Top ${items.length} candidates this run. This is a screening aid only — please review before making any decisions.</p><table border=\"1\" cellpadding=\"6\"><tr><th>Name</th><th>Score</th><th>Skills</th><th>Years Exp</th><th>Reasoning</th><th>Links</th></tr>${rows}</table>`;\nreturn [{ json: { html, count: items.length } }];"
      },
      "id": "b2ff5046-1f19-4517-a428-a6009e670b9e",
      "name": "Build Shortlist Digest HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        1504
      ]
    },
    {
      "parameters": {
        "sendTo": "mfaisal.bscs24seecs@seecs.edu.pk",
        "subject": "top 20 listed candidates",
        "message": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -208,
        1520
      ],
      "id": "d3af40b7-fcea-4179-bfd0-110f91a1e6a7",
      "name": "Send final msg",
      "webhookId": "265d19a1-214f-428d-9c9a-305d0cceeb6a",
      "credentials": {
        "gmailOAuth2": {
          "id": "OFz5cdXaB6JhKH7B",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "## Real Time Applications Processing & Scoring",
        "height": 720,
        "width": 3008,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        -160
      ],
      "typeVersion": 1,
      "id": "c25142d0-298b-4ec3-ad65-cdbbc7c71631",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Daily Shortlist & HR Digest",
        "height": 352,
        "width": 1968,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        1408
      ],
      "typeVersion": 1,
      "id": "0ac5f028-b9a2-4469-b8fd-d16272e72305",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "New Application Email": {
      "main": [
        [
          {
            "node": "Has CV Attachment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has CV Attachment?": {
      "main": [
        [
          {
            "node": "Extract CV Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CV Text": {
      "main": [
        [
          {
            "node": "AI Extract CV Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract CV Fields": {
      "main": [
        [
          {
            "node": "Parse Extracted Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Extracted Fields": {
      "main": [
        [
          {
            "node": "Has GitHub URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has GitHub URL?": {
      "main": [
        [
          {
            "node": "Extract GitHub Username",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No GitHub - Default Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract GitHub Username": {
      "main": [
        [
          {
            "node": "Get GitHub Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get GitHub Repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub Profile": {
      "main": [
        [
          {
            "node": "Compute GitHub Signal Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub Repos": {
      "main": [
        [
          {
            "node": "Compute GitHub Signal Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute GitHub Signal Score": {
      "main": [
        [
          {
            "node": "AI Score Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No GitHub - Default Score": {
      "main": [
        [
          {
            "node": "AI Score Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Score Candidate": {
      "main": [
        [
          {
            "node": "Parse Final Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Final Score": {
      "main": [
        [
          {
            "node": "Format Candidate Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Candidate Row": {
      "main": [
        [
          {
            "node": "Append to All Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Shortlist Trigger": {
      "main": [
        [
          {
            "node": "Read All Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Candidates": {
      "main": [
        [
          {
            "node": "Rank and Take Top 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank and Take Top 20": {
      "main": [
        [
          {
            "node": "Append to Shortlist Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Shortlist Sheet": {
      "main": [
        [
          {
            "node": "Build Shortlist Digest HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Shortlist Digest HTML": {
      "main": [
        [
          {
            "node": "Send final msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e1cc23eb-3894-4c08-912d-df12216a074a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a40683457e603ad542c68c27986b0ff886ecf8cf9f5803c80b8830c6ee86d04"
  },
  "id": "uiu3TtnxMpSCddLV",
  "tags": []
}